---
import logo from '../assets/logoEma.jpg'
import imagenEma from '../assets/ema-bejenaru.webp'
---

<div class="">
	
	<main class="w-full">
		
		<section class="relative flex flex-col gap-10 items-start justify-start w-full min-h-screen overflow-hidden">
			<header class="w-full">
				<div class="w-full h-[40px] bg-[#E7B2A4] flex items-center justify-between">
					Redes sociales
				</div>			
				<div class="absolute flex items-center justify-between w-full px-[5%]">
					<img src={logo.src} alt="logo ema" class=" object-contain w-[100px] rounded-xl p-2" />
					<nav class="w-full">
						<ul class="flex items-center justify-around">
							<li><a href="/">Inicio</a></li>
							<li><a href="/contacto">Contacto</a></li>
							<li><a href="/servicios">Servicios</a></li>
							<li><a href="/proyectos">Proyectos</a></li>
						</ul>
					</nav>
				</div>
			</header>
			<img src={imagenEma.src} alt="imagen ema" class="absolute top-0 left-0 w-full object-contain -z-10" />
			<div class="absolute top-0 left-0 w-full min-h-full bg-black -z-0 opacity-30 "></div>
			<div class="flex items-start justify-start w-full h-full z-10 px-[5%]">
				<div class="flex flex-col items-start justify-start gap-10 w-1/2 mt-[5%]">
					<div class="flex flex-col items-start justify-start gap-3 w-full  text-white">
						<span class="text-8xl font-semibold">About Ema</span>
						<span class="text-7xl font-semibold uppercase text-[#E7B2A4]">Bejenaru</span>
						<h1 class="text-5xl font-semibold">Ema Bejenaru</h1>
						<p class="text-4xl">Profesional aesthetics style</p>
						<p class="text-4xl">Profesional aesthetics business</p>
						<p class="text-4xl text-[#E7B2A4]">Emprendedora y Mentora</p>
					</div>
					<div class="flex flex-col gap-4 items-start justify-start w-full">
						<div class="flex  gap-3 items-start justify-start">
							<button class="bg-gradient-to-r from-[#EFb810] to-[#EFb810] text-gray-800 font-bold py-2 px-8 rounded-full shadow-lg hover:from-yellow-500 hover:to-gray-100 transition duration-300">Sobre mi</button>
							<button class="py-2 px-8 border border-1 border-[#EFb810] rounded-full">Contáctanos</button>
						</div>
						<div class="flex items-start justify-start gap-2 text-slate-100">
							<div class="flex flex-col items-center justify-start gap-2">
								⭐
								<span class="">Estilo</span>
							</div>
							<div class="flex flex-col items-center justify-start gap-2">
								⭐
								<span class="">Negocios</span>
							</div>
							<div class="flex flex-col items-center justify-start gap-2">
								⭐
								<span class="">Mentoría</span>
							</div>
							<div class="flex flex-col items-center justify-start gap-2">
								⭐
								<span class="">Mentalidad</span>
							</div>
							<div class="flex flex-col items-center justify-start gap-2">
								⭐
								<span class="">Emprendimiento</span>
							</div>
							
						</div>
		
					</div>
				</div>
				<div class="flex flex-col items-start justify-start gap-4 mt-[5%] w-1/2 h-full text-black">
					<div class="mt-[50%] ml-[30%] w-1/2 ">
						<span class="text-5xl font-semibold text-[#E7B2A4]">Internacional</span>
						<hr class="border-1 border-black w-[90%]">
						<p>Jurado internacional en concursos de pestañas</p>

					</div>
				</div>
			
			</div>
		</section>
			
	</main>

	
</div>

<style>
</style>
